$--searc-color:hsla(230, 75%, 32%, 0.1);
$--main-color:black;
$--main-two-color:white;
$--logo-color:rgb(117, 16, 16);
$--purp-color:rebeccapurple;
$--blu-color:blue;
$--form-color:hsla(230, 100%, 97%);
$--corm-two-color:hsla(230, 75%, 15%, 0.2);
$--title-color:hsla(230, 75%, 15%);
$--sig-colo:hsla(230, 75%, 56%);
$--btn-color:hsla(230, 75%, 40%, 0.4);